<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>18.0</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>🎉 Here is a Special offer for you! 😯</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>href</key>
				<string>/lastChanceOffer</string>
			</dict>
			<key>UIApplicationShortcutItemType</key>
			<string>lastChanceOffer</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>heart</string>
		</dict>
	</array>
	<key>DTXcodeBuild</key>
	<string>17A324</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow trackAI to access your microphone</string>
	<key>firebase_json_raw</key>
	<string>e30=</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UISupportedDevices</key>
	<array>
		<string>MacFamily20,1</string>
		<string>RealityFamily22,1</string>
		<string>iPad11,1</string>
		<string>iPad11,2</string>
		<string>iPad11,3</string>
		<string>iPad11,4</string>
		<string>iPad11,6</string>
		<string>iPad11,7</string>
		<string>iPad12,1</string>
		<string>iPad12,2</string>
		<string>iPad13,1</string>
		<string>iPad13,10</string>
		<string>iPad13,11</string>
		<string>iPad13,16</string>
		<string>iPad13,17</string>
		<string>iPad13,18</string>
		<string>iPad13,19</string>
		<string>iPad13,2</string>
		<string>iPad13,4</string>
		<string>iPad13,5</string>
		<string>iPad13,6</string>
		<string>iPad13,7</string>
		<string>iPad13,8</string>
		<string>iPad13,9</string>
		<string>iPad14,1</string>
		<string>iPad14,10</string>
		<string>iPad14,11</string>
		<string>iPad14,2</string>
		<string>iPad14,3-A</string>
		<string>iPad14,3-B</string>
		<string>iPad14,4-A</string>
		<string>iPad14,4-B</string>
		<string>iPad14,5-A</string>
		<string>iPad14,5-B</string>
		<string>iPad14,6-A</string>
		<string>iPad14,6-B</string>
		<string>iPad14,8</string>
		<string>iPad14,9</string>
		<string>iPad15,3</string>
		<string>iPad15,4</string>
		<string>iPad15,5</string>
		<string>iPad15,6</string>
		<string>iPad15,7</string>
		<string>iPad15,8</string>
		<string>iPad16,1</string>
		<string>iPad16,10</string>
		<string>iPad16,11</string>
		<string>iPad16,2</string>
		<string>iPad16,3-A</string>
		<string>iPad16,3-B</string>
		<string>iPad16,4-A</string>
		<string>iPad16,4-B</string>
		<string>iPad16,5-A</string>
		<string>iPad16,5-B</string>
		<string>iPad16,6-A</string>
		<string>iPad16,6-B</string>
		<string>iPad16,8</string>
		<string>iPad16,9</string>
		<string>iPad17,1-A</string>
		<string>iPad17,1-B</string>
		<string>iPad17,2-A</string>
		<string>iPad17,2-B</string>
		<string>iPad17,3-A</string>
		<string>iPad17,3-B</string>
		<string>iPad17,4-A</string>
		<string>iPad17,4-B</string>
		<string>iPad7,11</string>
		<string>iPad7,12</string>
		<string>iPad8,1</string>
		<string>iPad8,10</string>
		<string>iPad8,11</string>
		<string>iPad8,12</string>
		<string>iPad8,2</string>
		<string>iPad8,3</string>
		<string>iPad8,4</string>
		<string>iPad8,5</string>
		<string>iPad8,6</string>
		<string>iPad8,7</string>
		<string>iPad8,8</string>
		<string>iPad8,9</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>17F106</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>CFBundleName</key>
	<string>trackAI</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>uk</string>
		<string>cs</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>pl</string>
		<string>pt</string>
		<string>ro</string>
		<string>et</string>
		<string>hu</string>
		<string>lt</string>
		<string>lv</string>
	</array>
	<key>FacebookAppID</key>
	<string>710141458437011</string>
	<key>CFBundleDisplayName</key>
	<string>trackAI</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>23A339</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTXcode</key>
	<string>2600</string>
	<key>DTSDKName</key>
	<string>iphoneos26.0</string>
	<key>CFBundleVersion</key>
	<string>152</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>trackai</string>
				<string>com.yashchuk.trackai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exp+trackai</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb710141458437011</string>
			</array>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Ми використовуємо дані для покращення реклами та аналітики використання додатку</string>
	<key>CFBundleIdentifier</key>
	<string>com.yashchuk.trackai</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>TrackAI</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow trackAI to access your photos</string>
	<key>CFBundleExecutable</key>
	<string>trackAI</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>24G90</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.yashchuk.trackai.expo.index_route</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Додатку потрібен доступ до камери, щоб зробити фото їжі</string>
	<key>FacebookAutoInitEnabled</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>FacebookClientToken</key>
	<string>26a5c9e7b377156ecd316d7505ad5fc8</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>23A339</string>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>locales</key>
	<dict>
		<key>de</key>
		<string>./languages/de.json</string>
		<key>pt</key>
		<string>./languages/pt.json</string>
		<key>lt</key>
		<string>./languages/lt.json</string>
		<key>en</key>
		<string>./languages/en.json</string>
		<key>lv</key>
		<string>./languages/lv.json</string>
		<key>fr</key>
		<string>./languages/fr.json</string>
		<key>hu</key>
		<string>./languages/hu.json</string>
		<key>es</key>
		<string>./languages/es.json</string>
		<key>et</key>
		<string>./languages/et.json</string>
		<key>cs</key>
		<string>./languages/cs.json</string>
		<key>uk</key>
		<string>./languages/uk.json</string>
		<key>pl</key>
		<string>./languages/pl.json</string>
		<key>ro</key>
		<string>./languages/ro.json</string>
	</dict>
	<key>DTPlatformVersion</key>
	<string>26.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11.2</string>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
</dict>
</plist>